html, body {
  margin: 0;
  min-width: 1280px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.primary-color {
  background: #7f78d2;
}
.secondary-color {
  background: #481380;
}
.primary-text {
  color: #212121;
}
.secondary-text {
  color: #757575;
  font-size: 12px;
}